{# Ícones de linha: Tabler Icons (MIT). Uso: <svg class="ico"><use href="#i-calendario"/></svg> #}
<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" style="position: absolute;" aria-hidden="true" focusable="false">
    <symbol id="i-calendario" viewBox="0 0 24 24">
        <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12"/>
        <path d="M16 3v4"/><path d="M8 3v4"/><path d="M4 11h16"/><path d="M11 15h1"/><path d="M12 15v3"/>
    </symbol>
    <symbol id="i-odometro" viewBox="0 0 24 24">
        <path d="M3 12a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"/>
        <path d="M11 12a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
        <path d="M13.41 10.59l2.59 -2.59"/>
        <path d="M7 12a5 5 0 0 1 5 -5"/>
    </symbol>
    <symbol id="i-motor" viewBox="0 0 24 24">
        <path d="M3 10v6"/><path d="M12 5v3"/><path d="M10 5h4"/><path d="M5 13h-2"/>
        <path d="M6 10h2l2 -2h3.382a1 1 0 0 1 .894 .553l1.448 2.894a1 1 0 0 0 .894 .553h1.382v-2h2a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-2v-2h-3v2a1 1 0 0 1 -1 1h-3.465a1 1 0 0 1 -.832 -.445l-1.703 -2.555h-2v-6"/>
    </symbol>
    <symbol id="i-combustivel" viewBox="0 0 24 24">
        <path d="M13 3l0 7l6 0l-8 11l0 -7l-6 0l8 -11"/>
    </symbol>
    <symbol id="i-anterior" viewBox="0 0 24 24"><path d="M15 6l-6 6l6 6"/></symbol>
    <symbol id="i-proximo" viewBox="0 0 24 24"><path d="M9 6l6 6l-6 6"/></symbol>
    <symbol id="i-menu" viewBox="0 0 24 24"><path d="M4 6l16 0"/><path d="M4 12l16 0"/><path d="M4 18l16 0"/></symbol>
    <symbol id="i-instagram" viewBox="0 0 24 24">
        <rect x="4" y="4" width="16" height="16" rx="4"/>
        <circle cx="12" cy="12" r="3.5"/>
        <circle cx="16.5" cy="7.5" r="0.6" fill="currentColor" stroke="none"/>
    </symbol>
</svg>
